<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="bySecond" datePattern="yyyyMMdd"/>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/logs/weblearn/weblearn3-${bySecond}.log</file>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%date %level %thread %10logger %file %line %msg %n</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
			<pattern>%date %level %thread %10logger %file %line %msg %n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>